@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}
/* styles.css */
.gradient-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: -webkit-linear-gradient(left, blue, orange);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
